<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content page-collection">
    <div class="wrapper">
      <div class="inner-wrapper">

        {% assign verifycontent = content | strip_newlines %}
          {% unless verifycontent == ""  %}
          <div class="content">
            {{ content }}
          </div>
          {% endunless %}

        {% if page.artboards %}
        <ul class="image-list">
          {% for artboard in page.artboards %}
           <li>
            <a href="{{ page.url  | prepend: site.baseurl }}"></a>
            <span class="imagepreview" style="background-image: url('{{ page.title }}/{{ artboard.image }}');"><!--img src="" class="retina-img"/--></span>
            <div class="contentpreview">
                <strong class="previewtitle">{{ artboard.title }}</strong>
                {{ artboard.text }}
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
